SharedService/Web References/lucene/SearchWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="tns:RPATicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RPATicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TicketId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categories" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Matches" type="tns:ArrayOfRPAResult" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRPAResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RPAResult" nillable="true" type="tns:RPAResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RPAResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ScriptID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ScriptText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSearchResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchResultsResult" type="tns:RPATicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLucene">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sampleDataFileRow" type="tns:RPAResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLuceneResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSearchResultsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSearchResults" />
  </wsdl:message>
  <wsdl:message name="GetSearchResultsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSearchResultsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLuceneSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLucene" />
  </wsdl:message>
  <wsdl:message name="UpdateLuceneSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLuceneResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchResults">
      <wsdl:input message="tns:GetSearchResultsSoapIn" />
      <wsdl:output message="tns:GetSearchResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLucene">
      <wsdl:input message="tns:UpdateLuceneSoapIn" />
      <wsdl:output message="tns:UpdateLuceneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchWebServiceSoap" type="tns:SearchWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchResults">
      <soap:operation soapAction="http://tempuri.org/GetSearchResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLucene">
      <soap:operation soapAction="http://tempuri.org/UpdateLucene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchWebServiceSoap12" type="tns:SearchWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchResults">
      <soap12:operation soapAction="http://tempuri.org/GetSearchResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLucene">
      <soap12:operation soapAction="http://tempuri.org/UpdateLucene" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchWebService">
    <wsdl:port name="SearchWebServiceSoap" binding="tns:SearchWebServiceSoap">
      <soap:address location="http://localhost:30947/SearchWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchWebServiceSoap12" binding="tns:SearchWebServiceSoap12">
      <soap12:address location="http://localhost:30947/SearchWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>